.dashboard {
    background-color:rgb(190, 190, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.chartdisplay {
    width: 80%;
    max-width: 800px;
    height: 50%;
    margin-bottom: 20px;
    background-color: #090536;
}

.watchlist {
    width: 80%;
    max-width: 800px;
    background-color: #110967;
    border-radius: 10px;
    padding: 20px;
    color: rgb(245, 226, 226);
}

.watchlist-heading {
    font-family: 'Times New Roman', Times;
    font-size: 1.5em;
    font-weight: 700;
    color: #b8a14f;
    text-align: center;
    margin-bottom: 15px;
}

.add-stock {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.watchlist-input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #b8a14f;
    background-color: #1f0202;
    color: white;
    outline: none;
}

.add-button {
    padding: 8px 16px;
    background-color: #4997ea;
    color: rgb(13, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.watchlist-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.watchlist-table th, .watchlist-table td {
    padding: 10px;
    border: 1px solid #e6d0d0;
    text-align: left;
}

.watchlist-table th {
    background-color: #180532;
    color: #b7bec3;
}

.watchlist-table td {
    background-color: #212660;
}
