body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arima', sans-serif;
    background-color: black;
}

.titleheader,
.headings {
    color: transparent;
    background-image: linear-gradient(45deg, #b8a14f, #8f6f3f, #706040);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    font-family: 'Arima', sans-serif;
}

.gradient-text {
    color: transparent;
    background-image: linear-gradient(45deg, #b8a14f, #8f6f3f, #706040);
    background-clip: text;
    -webkit-background-clip: text;
}